<div class="container">
  </footer class="footer">
    <small>Copyright &copy Alpha Blog by Jevon Hill</small>
    <nav>
      <ul><%= link_to "About", about_path %></ul>
    </nav>
  </footer>
</div>